{% extends 'base.html' %}
{% block title %}{{ block.super }} | Persons{% endblock %}

{% block content %}
    <div class="list-group">
        {% for person in object_list|dictsort:"name" %}
            <a href="{{ person.get_absolute_url }}" class="list-group-item">
                <h4 class="list-group-item-heading">{{ person }}</h4>
                <p class="list-group-item-text">More to come</p>
            </a>
        {% empty %}
            <a href="/">
                <h4 class="list-group-item-heading">No persons yet</h4>
            </a>
        {% endfor %}
    </div>
{% endblock %}